<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Outer Wilds Wiki - {{ category_name|capitalize }}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="icon" href="{% block icon %}{% endblock %}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body id='{% block spoiler %}{% endblock %}'>
        <header>
            <img src="{{ asset('/images/main_logo.png') }}" alt="logo du jeu">
            <p class="center_text ; font_size_title ; title">{{ category_title|capitalize }}</p>
        </header>
        <div class="background_div ; font_size_subtitle ; center_text">
            <p>{% block intro_text %}{% endblock %}</p>
            <p class="font_size_paragraph ; center_text">{% block intro_subtext %}{% endblock %}</p>
        </div>
        <ul>
            {% for path, title in pages_list %}
                <li>
                    <a href="{{ path('app_entry', {entry_name: path}) }}">{{ title }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_home') }}"><img title="Menu Principal" src="{{ asset('/images/icons/hub_symbol.png') }}" alt="Icône de la page d'accueil" style="width: 5%"></a>
    </body>
</html>
