<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Outer Wilds Wiki - {{ entry_title|capitalize }}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="icon" href="{% block icon %}{% endblock %}">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>
<body id='{% block spoiler %}{% endblock %}'>
<header>
    <img src="{{ asset('/images/main_logo.png') }}" alt="logo du jeu">
    <p class="center_text ; font_size_title ; title">{{ entry_title|title }}</p>
</header>
{% block body %}{% endblock %}
</body>
</html>
